/************ Navbar kısmı ************/
header{
  width : 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 5px;
  position: fixed;
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 20px;
  list-style: none;
}

nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

nav li a:hover {
  color: deepskyblue;
  cursor: pointer;
}

.logo {
  font: bold 25px;
}
/************ Navbar kısmı burada bitiyor. ************/

/************ Sayfanın genel body kısmı burada başlıyor. ************/

body {
  position: relative;
  padding-bottom: 80px;
  background-image: url("../images/backgroundImage.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
}

main {
  margin-top: 80px; /* nav etiketinin yüksekliği */
}


/************ Section kısmı burada başlıyor. ************/
.section {
  padding: 40px 0; /* Bu boyuna aradaki mesafe için veriliyor.*/
  top: 0;
  left: 0;
  right: 0;
  
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px;
  border: 2px solid #000;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

/************ Ana sayfa kısmı burada başlıyor. ************/
.homepage-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.download-btn {
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.download-btn:hover {
  background-color: #000;
  color: #fff;
}

.btn-wrapper {
  margin-top: 20px;
}
/************ Anasayfa kısmı burada bitiyor. ************/


/* Bu side-container, photo-container, information-container ve content-container
kısmı hakkımda kısmı için yapıldı.*/
.side-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 25%;
  margin: 10px;
}

.photo-container {
  max-width: 100%;
}

.information-container {
  line-height: 0.75;
}

.content-container {
  width: 70%;
}
/************ Bu kısıma kadar about me kısmı ************/


/************ Bu kısım education kısmı ************/
.right-container h1,
.middle-container h1,
.left-container h1 {
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 0;
}

.right-container,
.middle-container,
.left-container {
  flex-basis: 40%;
  margin-right: 20px;
  max-width: 450px;
  max-height: 600px;
  overflow: hidden;
}

.left-container ul {
  font-size: 20px;
  text-align: justify;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  list-style-type: disc;
}

/* Responsive stiller */
@media (max-width: 768px) {
  .flex-container {
    flex-wrap: wrap;
  }

  .right-container,
  .middle-container,
  .left-container {
    flex-basis: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

}

/************ Bu kısıma kadar education kısmı ************/

/************ Projeler kısmına hover effecti eklemek ************/
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.img-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.img-wrapper>img {
  display: block;
  width: 95%;
  height: 95%;
  object-fit: cover;
  object-position: center;
}

.img-wrapper>.content {
  position: absolute;
  inset: 0;
  font-size: 2rem;
  padding: 1rem;
  background: rgba(255, 255, 255, .4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-wrapper>img,
.img-wrapper>.content {
  transition: 200ms ease-in-out;
}

.img-wrapper:hover>img.blur {
  filter: blur(5px);
}

.img-wrapper:hover>img.gray {
  filter: grayscale(1);
}

.img-wrapper:hover>img.zoom {
  transform: scale(1.1);
}

.img-wrapper>.content.fade {
  opacity: 0;
}

.img-wrapper:hover>.content.fade {
  opacity: 1;
}

.content {
  position: relative;
}

.content h2 {
  font-size: 24px;
  margin-bottom: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

.content p {
  font-size: 20px;
  margin-top: 50px;
}


/************ Footer kısmı burada başlıyor.************/

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  padding: 10px;
  width: 99%;
  height: 80px;
  position: absolute;
  bottom: 0;
}

.footer-icons-text {
  font-size: 25px;
  color: #000;
  margin: 0 50px 0 0;
}

.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #ffffff;
  transition: background-color 0.3s ease-in-out;
}

/* Footer'daki iconların üstüne fare geldiğinde renk geğiştiriyor. */
.icon-container:hover {
  background-color: #2ecc71;
  /* Yeşil renk olarak değiştir */
}

.icon-container img {
  width: 50px;
  height: 50px;
}

.icon-container:hover img {
  filter: invert(100%);
  /* Logonun rengini ters çevir */
}

/************ Footer kısmı burada bitiyor ************/